mq.producer/src/main/resources/ents/eai/core/eai-core-MessageFormat-V5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="unqualified"
	targetNamespace="http://ibk.com/ents/EAI/MessageFormat/V5.0"
	version="1.0" xmlns:tns="http://ibk.com/ents/EAI/MessageFormat/V5.0"
	xmlns:bons1="http://ibk.com/ents/EAI/CoreExtensions/V5.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://ibk.com/ents/EAI/CoreExtensions/V5.0"
		schemaLocation="eai-core-CoreExtension-V5.0.xsd"/>
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element minOccurs="1" name="requestId" type="bons1:RequestId" />
			<xs:element minOccurs="1" name="identidad" type="bons1:Identidad" />
			<xs:choice>
				<xs:element name="requestData" type="tns:RequestData" minOccurs="1" />
				<xs:element name="responseData" type="tns:ResponseData" minOccurs="1" />
			</xs:choice>
			<xs:element minOccurs="0" name="messageContext" type="bons1:MessageContext" />
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestData">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="userId" type="bons1:UsernameToken" />
			<xs:element minOccurs="1" name="destination" type="bons1:Destination" />
			<xs:element maxOccurs="1" minOccurs="0" name="classifications" type="bons1:Classifications" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseData">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="status" type="bons1:ResponseStatus" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>